body {
  text-align: center;
  background: radial-gradient(
    circle at 50%,
    hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
  color: white;
}

header {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
}

.play {
  margin: 25px;
}

a:hover {
  color: tomato;
}

.btn-link {
  border: 1px solid white;
  border-radius: 5px;
  width: 55px;
  margin: 20px auto 0 auto;
  padding: 15px;
}

/* BEGIN RULES */

.rules-card {
  background-color: white;
  padding: 25px;
  width: 300px;
  margin: 0 auto;
  border-radius: 10px;
}

/* END RULES */

/* BEGIN CHOICES */

.triangle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hand {
  background: white;
  width: 135px;
  height: 135px;
  border-radius: 50%;
  border: 15px solid;
  margin: 10px auto;
  position: relative;
}

.hand svg {
  position: absolute;
  top: 42px;
  left: 40px;
}

.rock-choice {
  border-color: hsl(349, 71%, 52%);
  position: absolute;
  top: -70px;
  left: -34px;
}

.paper-choice {
  border-color: hsl(230, 89%, 62%);
  position: absolute;
  top: -70px;
  right: -34px;
}

.scissors-choice {
  border-color: hsl(39, 89%, 49%);
  position: absolute;
  top: 112px;
  left: 60px;
}

/* END CHOICES */

/* BEGIN BATTLEFIELD */

.rock {
  border-color: hsl(349, 71%, 52%);
}

.paper {
  border-color: hsl(230, 89%, 62%);
}

.scissors {
  border-color: hsl(39, 89%, 49%);
}

.whoWon {
  text-transform: uppercase;
  font-weight: bolder;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100px;
  margin: 0 auto 45px auto;
  border-radius: 10px;
  padding: 5px;
}

/* END BATTLEFIELD */

@media screen and (min-width: 600px) {
  .container {
    display: flex;
    width: 80%;
    margin: 40px auto 40px auto;
  }

  .results {
    justify-content: space-around;
  }
}
